.show {
  font-size: 68px;
}

.bio {
  float: left;
  margin: 0 13%;
}

.contribs {
  float: left;
  max-width: 40%;
  margin: 0 4%;
}

.ellipsis {
  display: inline-block;
}

.contrib {
  display: inline;
}

.toPassage {
  display: block;
}
