<div class="title">
	<h1><i class="fa fa-pencil"></i> Write!</h1>
</div>

<p class="quotation">“</p><p class="prompt"></p><p class="quotation">”</p>

<%= render 'form' %>

<p>Wanna continue another story instead? Browse past stories <%= link_to 'here.', passages_path %></p>